---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.callout {
  font-family: "Georgia";
}


@media screen and (min-width: 601px) {
  .site-nav .nav-item + .nav-item {
    padding-left: 15px;
    border-left: 1px solid var(--solarized-mono1);
  }
}
